extends layout

block content
    .row
        .col-md-12
        .jumbotron.well
            h2
              | Despegar
            p
              | Despegar.com la mejor experiencia para tu viaje.
            p
              a.btn.btn-primary.btn-large(href='#') Buscar mas!
          form.form-horizontal(role='form')
            .form-group
              label.col-sm-2.control-label(for='inputEmail3')
                | Email
              .col-sm-10
                input#inputEmail3.form-control(type='email')
            .form-group
              label.col-sm-2.control-label(for='inputPassword3')
                | Password
              .col-sm-10
                input#inputPassword3.form-control(type='password')
            .form-group
              .col-sm-offset-2.col-sm-10
                .checkbox
                  label
                    input(type='checkbox')
                    |  Remember me
            .form-group
              .col-sm-offset-2.col-sm-10
                button.btn.btn-default(type='submit')
                  | Sign in
    .row
          .col-md-4
            h2
              | Heading
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn(href='#') View details »
          .col-md-4
            h2
              | Heading
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn(href='#') View details »
          .col-md-4
            h2
              | Heading
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn(href='#') View details »
